<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">

<meta charset="utf-8">
<link rel="canonical" href="https://getbootstrap.kr/docs/5.3/examples/checkout/">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
<link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


<style>
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style>

</head>
<body class="bg-body-tertiary">
<div class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" th:action="@{/admin/user-join}" th:object="${UserJoinFormDto}" method="post">
          <div class="row g-3">
            <div class="col-sm-6">
              <label th:for="userId" class="form-label">ID</label>
              <input type="text" class="form-control" th:filed="*{userId}" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid user ID is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label th:for="userPwd" class="form-label">Password</label>
              <input type="text" class="form-control" th:filed="*{userPwd}" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid Password is required.
              </div>
            </div>

            <div class="col-12">
              <label th:for="userName" class="form-label">Username</label>
                <input type="text" class="form-control" th:field="*{userName}" placeholder="Username" required>
                <div class="invalid-feedback">
                  Your Username is required.
                </div>
            </div>

            <div class="col-12">
              <label th:for="userEmail" class="form-label">E-mail <span class="text-body-secondary">(Optional)</span></label>
              <input type="email" class="form-control" th:filed="*{userEmail}" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label th:for="svnID" class="form-label">SVN ID</label>
              <input type="text" class="form-control" th:filed="*{svnId}" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Your SVN ID is required.
              </div>
            </div>

            <div class="col-12">
              <label th:for="department" class="form-label"> Department <span class="text-body-secondary">(Optional)</span></label>
              <input type="text" class="form-control" th:filed="*{department}" placeholder="Apartment or suite">
            </div>

            <button class="w-100 btn btn-primary btn-lg" type="submit">완료</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
</body>
</html>
